* {
  margin: 0;
  padding: 0;

}

/*header*/
@media screen and (max-width:600px) {
  .title {
    display: block;
    align-items: center;
    gap: -40px;
    width: auto;
    position: absolute;
    transform: translateY(40px);
    margin-left: 30px;

  }

  .title-text {
    color: white;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    margin-top: -80px;
  }

  .texttitle {
    visibility: hidden;
  }

  .topnav {
    display: none;

  }

  .topnav a {
    visibility: hidden;
  }


  #mobileNavOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #B6BDB5;
    opacity: 40%;
    z-index: 999;
    display: none;
  }

  #mobileNav {
    position: fixed;
    align-items: center;
    width: 90vw;
    height: 914px;
    top: 23px;
    left: 20px;
    right: 20px;
    padding-top: 35%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    z-index: 1000;
    background-color: #011827;
    display: none;
    animation: slowly 0.7s;
  }
  @keyframes slowly {
    0% {
      opacity : 0;
    }
   100% {
      opacity: 1;
    }
    
    
  }


  #mobileNav a {
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    text-decoration: none;
  }

  li {
    text-align: center;
  }

  ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 2.2;
  }


  .menuToggle {
    position: absolute;
    background-color: transparent;
    width: 30px;
    height: 30px;
    top: 34px;
    gap: 0px;
    border: 6px 0px 0px 0px;
    border: none;
    right: 40px;
    align-items: center;
    cursor: pointer;
  }

  #closeToggle {
    background-color: transparent;
    width: 20%;
    height: 30px;
    top: 34px;
    right: 20px;
    opacity: 0px;
    padding: 0;
    border: none;
    position: fixed;
    align-items: center;
    animation: fadein 1.5s;
  }
  @keyframes fadein {
    0% {
      opacity : 0;
    }
   100% {
      opacity: 1;
    }
    
    
  }
}

header {
  background: #011827;
  height: 150px;
  max-width: 100%;
  display: block;

}

.esc-logo {
  width: 110px;
  height: auto;
  margin-top: -20px;
  margin-left: -10px;
}


.hacker-image {
  width: 100%;
  height: auto;
  top: 144px;
  gap: 0px;
  opacity: 0px;

}

.onsite-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 20px;

}

.onsitebtn {
  background-color: #b3e4f2;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;

}

.online-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.onlinebtn {
  width: 129px;
  height: 19.97px;
  top: 551px;
  left: 175px;
  gap: 0px;
  opacity: 0px;
  display: block;
  font-family: Roboto bold;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: center;
  color: #36769D;
  text-decoration: underline;
  border: none;
  background-color: none;
  background-color: transparent;
  white-space: nowrap;
}



.reviews {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}


.review {
  display: flex;
  align-items: center;
  max-width: 600px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;

}


.pfpctr {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}


.re-container {
  font-family: Arial, sans-serif;
}


.re-text {
  font-style: italic;
  font-size: 1rem;
  color: #000000;
  margin: 0;
}


.re-author {
  font-size: 0.9rem;
  color: #080808;
  margin-top: 5px;
}


/*not visable on smaller screen*/
.review1 {
  height: 141px;
  width: 520px;
  position: relative;
  display: inline-flex;
  gap: 16.89px;
  transform: translateY(-450px);
  display: none;
}


.popular-challenges {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

h6 {
  max-width: 100%;
  display: inline-block;
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.5px;
  text-align: center;
  overflow: hidden;

}

.row-reviews {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: flex-start;
  padding: 10px;
  background-color: #f8f8f8;
  overflow-x: auto;
  overflow-y: hidden;
}


.cards {

  height: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flexbox;
  flex-direction: column;
  border: 1px solid #ddd;
  overflow: hidden;
  background-color: white;
  flex: 0 0 300px;
  overflow-x: scroll;


}


.hackerimage {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.cards h2 {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  line-height: 32.81px;
  text-align: left;
  margin: 5px 0;
  margin-left: 10px;
  text-align: left;
}


.fa-star {
  color: #E3170A;
  font-size: 18px;
  position: relative;
  left: 12px;


}

.checked {
  color: #E3170A;
}

.unchecked {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
}


.cards p {
  font-size: 1rem;
  color: #000000;
  margin: 5px 0;
  text-align: center;
  width: 159px;
  height: auto;
  position: relative;
  top: -25px;
  left: 80px;
  opacity: 1;

}


.cards p:last-of-type {
  font-size: 0.9rem;
  color: #000000;
  margin-bottom: 15px;
  text-align: left;
  margin-left: -70px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  width: 90%;
}

.book {
  padding: 10px 20px;
  background-color: #E3170A;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  position: sticky;
  left: 135px;
}

.onsite-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 40px;
}

.onsitebtn1 {
  background-color: #b3e4f2;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;


}

.online-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.onlinebtn1 {
  width: 129px;
  height: 19.97px;
  top: 551px;
  left: 175px;
  gap: 0px;
  opacity: 0px;
  display: block;
  font-family: Roboto bold;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: center;
  color: #36769D;
  text-decoration: underline;
  border: none;
  background-color: none;
  background-color: transparent;
  white-space: nowrap;
}

.story-section {
  background: #011827;
  height: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  position: relative;

}

.story-text {
  width: 100%;
  max-width: 439px;
  height: auto;
  text-align: center;
  color: white;
  margin: 0;
  opacity: 1;
}

.storybtn {
  border: 2px solid #8ACFE5;
  color: #8ACFE5;
  text-decoration: none;
  border-radius: 5px;
  background-color: transparent;
  width: 200px;
  height: 50px;
  opacity: 1;
  position: relative;
  margin-top: 20px;
}

.rows {
  height: 100px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: block;
  border: 1px solid #ddd;
  background-color: white;
}

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  gap: 50px;
}

.card-image,
.card-title {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding-top: 45px;
}

.card-title,
.card-text {
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
}

.card-title {
  margin-left: 20px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 37.5px;
  text-align: left;

}

.card-text {
  margin: 20px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}

.book-onsite {
  padding: 15px 50px;

  background-color: #E3170A;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  position: relative;
  text-decoration: none;
  width: 406;
  top: 19px;
  left: 20px;
  gap: 0px;
  opacity: 0px;
  box-sizing: content-box;
}

.footer-header {

  height: 450px;
  max-width: 100%;
  background: #011827;
  margin-top: 80px;
  position: relative;

}

.all-text {
  flex-direction: column;
  align-items: left;
  justify-content: center;
  top: 40px;
  position: relative;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  color: white;
  text-decoration: none;
  margin-left: 30px;
}

.footer-title {
  max-width: 100%;
  height: 21px;
  top: 3658px;
  left: 22px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  text-align: left;
  margin-bottom: 10px;
}

.footer-info {
  margin-top: 45px;
  margin-left: 40px;
}

.footer-info a {
  color: white;
  text-decoration: none;
  position: relative;


}

.follow-text {
  color: white;
}

.p-footer {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  text-align: left;
  max-width: 90%;
  height: 83px;
  top: 3686px;
  left: 21px;
  gap: 0px;
  opacity: 0px;
  overflow: hidden;

}

.btn-redblue {
  display: none;
}

.btn-color {
  display: none;
}

.site-title {
  color: white;
  text-decoration: none;
}

.card-container1 {
  display: none;
}

.card-container2 {
  display: none;
}

.onlinebtn2,
.online-container2,
.onsitebtn2,
.onsite-container2 {
  visibility: hidden;

}

@media screen and (min-width: 1024px) {
  br {
    display: none;
  }

  header {
    height: 200px;
    max-width: 100%;
    display:block;
    overflow: hidden;
    position: relative;
  }

  .card-container {
    display: none;
  }

  .card-container1 {
    visibility: visible
  }


  .onlinebtn1,
  .online-container1,
  .onsitebtn1,
  .onsite-container1 {
    visibility: hidden;

  }


  .logo {
    width: 128px;
    height: 82px;
    left: 27px;
    gap: 0px;
    top: 20px;
    border-radius: 17px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    position: relative;
  }

  .title-text {
    display: inline-block;
    position: relative;
    width: 404px;
    height: 47px;
    top: -40px;
    left: 140px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
    text-align: center;
    color: white;
  }

  .tophacker {
    position: relative;
    overflow: hidden;
    height: 400px;
  }

  .hacker-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    clip-path: inset(20% 0% 0% 0%);
    position: relative;
    display: block;
    margin-top: -240px;
    opacity: 1;

  }

  .topnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #011827;
    padding: 5px;
    position: relative;
    top: -150px;

  }

  .topnav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: center;
    margin-right: 5px;
  }

  .topnav a:hover {
    color: #8ACFE5;
  }

  .btn-redblue {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -230px;
    position: relative;
  }

  .redbtn2 {
    width: 308px;
    height: 66px;
    top: 652px;
    left: 648px;
    gap: 0px;
    opacity: 0px;
    background-color: #8ACFE5;
    color: rgb(6, 6, 6);
    border: none;
    font-size: 28px;
    font-weight: 700;
    font-family: Roboto;
    border-radius: 0.2rem;
    opacity: 1;
  }


  .bluebtn2 {
    width: 308px;
    height: 66px;
    top: 652px;
    left: 648px;
    gap: 0px;
    opacity: 0px;
    background: #E3170A;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 28px;
    font-weight: 700;
    font-family: Roboto;
    border-radius: 0.2rem;
    opacity: 1;

  }


  .reviews {
    display: flexbox;
    justify-content: center;
    margin: 0px 0;

  }


  .review {
    display: flex;
    align-items: center;
    max-width: 600px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;

  }


  .pfpctr {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
  }


  .re-container {
    font-family: Arial, sans-serif;
  }


  .re-text {
    font-style: italic;
    font-size: 1rem;
    color: #060606;
    margin: 0;
  }


  .re-author {
    font-size: 0.9rem;
    color: #080808;
    margin-top: 5px;
  }





  .review1 {
    display: flex;
    align-items: center;
    max-width: 600px;
    background-color: transparent;
    padding: 15px;
    border-radius: 8px;
    position: relative;
    top: 450px;




  }


  .pfpctr1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
  }


  .re-container1 {
    font-family: Arial, sans-serif;
  }


  .re-text1 {
    font-style: italic;
    font-size: 1rem;
    color: #060606;
    margin: 0;
  }


  .re-author1 {
    font-size: 0.9rem;
    color: #080808;
    margin-top: 5px;
  }





  .cards {
    width: 100%;
    max-width: 300px;
    height: 400px;
  }

  .row-reviews {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    justify-content: center;
    padding: 10px;
    background-color: #f8f8f8;
    scrollbar-width: none;

  }

  .cards p {
    font-size: 1rem;
    color: #000000;
    margin: 5px 0;
    text-align: center;
    width: 159px;
    height: auto;
    position: relative;
    top: -25px;
    left: 150px;
    opacity: 1;

  }

  .cards::-webkit-scrollbar {
    display: none;
  }

  .cards p:last-of-type {
    font-size: 0.9rem;
    color: #000000;
    margin-bottom: 15px;
    text-align: left;
    margin-left: -135px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    width: 90%;
  }

  .card-containers {
    display: none;
  }

  .section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .card-container1 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .card1,
  .card2 {
    position: relative;
    width: 100%;
  }

  .card-image1,
  .card-image2 {
    width: 50%;
    height: auto;
    display: block;
  }


  aside {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
  }

  .text-right {
    right: 0;
  }

  .text-left {
    left: 0;
  }

  .card1 {
    display: flex;
    justify-content: flex-start;
  }

  .card2 {
    display: flex;
    justify-content: flex-end;
  }

  .card-image2 {

    margin-left: auto;
  }



  .book1,
  .book2 {

    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #E3170A;

    color: white;
    text-decoration: none;
    border-radius: 5px;
  }

  .footer-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    
    background-color: #011827;
  }

  .all-text {
    margin-left: 40px;
    max-width: 400px;
    margin-top: 50px;
  }

  .footer-info {
    display: flex;
    margin-right: 40px;
    align-items: center;
    margin-top: 120px;

  }

  .info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 120px;

  }

  .site-map {
    margin-right: 40px;
  }

   .breaktext {
    margin: 10px 0;
  }

  .follow-us {
    margin-left: 20px;
  }

  .follow-text {
    margin: 0;
    color: white;
  }


  .footer-info a {
    text-decoration: none;
    color: #ffffff;
  }

  .menuToggle{
    display:none;
  }
  #closeToggle {
    visibility: hidden;

  }
  #mobileNav{
    visibility: hidden;
  }

}