@media only screen and (max-width: 480px) {

  .logo {
    width: 128px;
    height: 82px;
    top: 26px;
    left: 27px;
    gap: 0px;
    border-radius: 17px 0px 0px 0px;
    opacity: 0px;
    padding-left: 5%;
    padding-top: 5%;
  }

  .site-header {
    background-color: #011827;
    width: 414px;
    height: 144px;
    gap: 0px;
    opacity: 0px;
  }

  .text {
    width: 78px;
    height: 84px;
    top: 25px;
    left: 168px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: left;
    color: white;
    flex-direction: column;
    display: flex;
    padding-left: 39%;
    transform: translateY(-85px);

  }

  .hack-img {
    width: 100%;
    top: 144px;
    gap: 0px;
    opacity: 0px;

  }

  .challenges-section {
    width: 308px;
    height: 66px;
    top: 455px;
    left: 91px;
    gap: 0px;
    opacity: 0px;
  }

  .onsiteBtn {
    width: 308px;
    height: 66px;
    top: 455px;
    left: 91px;
    gap: 0px;
    opacity: 0px;

    outline: none;
    left: 91px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    background-color: #8ACFE5;
    margin-left: 15%;
    margin-top: 5%;
    border: none;
  }

  .onlineBtn {
    width: 129px;
    height: 19.97px;
    top: 551px;
    left: 175px;
    gap: 0px;
    opacity: 0px;

    margin-top: 5%;
    margin-left: 30%;
    font-family: Roboto bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: center;
    color: #36769D;
    text-decoration: underline;
    border: none;
    background-color: none;
    background-color: transparent;
    white-space: nowrap;
  }

  .review-section {
    width: 439px;
    height: 139px;
    top: 638px;
    left: 21px;
    gap: 0px;
    border-radius: 873px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 100%;
    font-weight: 600;
    margin-top: 10%;

  }

  .logoface1 {
    opacity: 0;
  }

  .review-author2 {
    opacity: 0;
  }

  .review-container2 {
    opacity: 0;
  }

  .review-section2 {
    opacity: 0;
  }

  .review-text2 {
    opacity: 0;
  }

  .logoface {
    width: 80px;
    top: 638px;
    left: 21px;
    gap: 0px;
    border-radius: 873px 0px 0px 0px;
    opacity: 0px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
  }

  .review-container {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    display: block;
  }

  .review-text {
    font-family: Roboto italic;
    font-style: italic;
    margin: 0;
    font-weight: normal;
    font-weight: 500;
    font-size: 20px;
    display: block;
    width: 220px;
    height: 100px;
    top: 638px;
    left: 21px;
    gap: 0px;
    border-radius: 873px 0px 0px 0px;
    opacity: 0px;

  }

  .review-author {
    font-size: 12;
    font-weight: normal;
    margin: 0;
    padding-top: 2%;
  }

  .popular-challenges {
    width: 440px;
    height: 38px;
    top: 882px;
    left: 21px;
    gap: 0px;
    opacity: 0px;

    margin-top: 90px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }

  .challenge-info {
    margin: 5px;
    transform: translateY(-10px);
  }

  .popular-challenge1 {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 400;
    font-family: Roboto regular;
  }

  .titletext {
    font-size: 24px;
    font-family: roboto bold;
    margin-left: 10px;
  }

  .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  .box3 {
    width: 363px;
    height: 446px;
    top: 964px;
    left: 52.07px;
    gap: 0px;
    border-radius: 8px 8px 0px 0px;
    opacity: 0px;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 0.5px;
  }

  .box-image3 {
    width: 100%;
    height: auto;
    border-radius: 8px;
    justify-items: auto;
    object-fit: cover;
  }

  .checked {
    color: #E3170A;
    transform: translateY(-20px);
    margin-left: 5px;
    width: 10px;
  }

  .outline {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
    transform: translateY(-20px);
    margin-left: 4px;
  }

  .players-container3 {
    font-size: 13px;
    margin: 0;
    margin-left: 12px;
    text-align: center;
    transform: translateY(-36px);
  }

  .latin-box3 {
    margin-top: 10px;
    font-size: 16px;
    transform: translateY(-70px);
    padding: 1rem;

  }

  .roomBtn3 {
    color: white;
    background-color: #E3170A;
    width: 50%;
    height: 34px;
    border-radius: 5px;
    left: 41px;
    opacity: 0px;
    font-family: Roboto regular;
    font-size: 20px;
    font-weight: 500;
    margin-left: 38%;
    margin-top: 5%;
    border: none;
    transform: translateY(-90px);
  }



  .onsite1 {
    width: 308px;
    height: 66px;
    top: 1457px;
    left: 91px;
    gap: 0px;
    opacity: 0px;
    border-radius: 0.2rem;
    outline: none;
    font-family: Roboto regular;
    font-size: 23px;
    font-weight: 700;
    background-color: #8ACFE5;
    margin-left: 15%;
    border: none;


  }

  .online1 {
    width: 129px;
    height: 19.97px;
    top: 1553px;
    left: 175px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: center;

    color: #36769D;
    text-decoration: underline;
    border: none;
    background-color: none;
    background-color: transparent;
    white-space: nowrap;



  }

  .storylife {
    padding-top: 44px;
    text-align: center;

  }

  .story-section {

    padding-bottom: 10%;
    background-color: #011827;
  }

  .longtext-story {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350;
    height: 300px;
    margin: auto;
    color: #ffffff;
    background-color: #011827;
    position: relative;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 32.81px;
    text-align: center;


  }

  .storyBtn1 {

    border: 2px solid #8ACFE5;
    color: #8ACFE5;
    text-decoration: none;
    border-radius: 5px;
    background-color: transparent;
    width: 270px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    transform: translateY(-40px);

  }

  .imghack {
    width: 100%;

    height: 300px;
    top: 2129px;
    gap: 0px;
    opacity: 0px;

  }

  .book {
    color: white;
    background-color: #E3170A;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    margin-left: 1%;
    margin-top: 5%;
    border: none;
    width: 276px;
    height: 60px;
    top: 2702px;
    left: 21px;
    gap: 0px;

  }

  .friendstext {
    width: 440px;
    height: 106px;
    top: 2459px;
    left: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: left;



  }

  .para-container {
    width: 440px;
    height: 112px;
    top: 2565px;
    left: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;


  }

  .book-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20%;
  }

  .imglady {
    width: 480px;
    height: 300px;
    top: 2832px;
    gap: 0px;
    opacity: 0px;


  }

  .play {
    width: 435px;
    height: 106px;
    top: 3162px;
    left: 21px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: left;


  }

  .paragrah-text {
    width: 435px;
    height: 112px;
    top: 3293px;
    left: 21px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;



  }

  .challenge-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }



  .challenge {
    width: 308px;
    height: 66px;
    top: 3430px;
    left: 21px;
    gap: 0px;
    opacity: 0px;
    color: white;
    background-color: #E3170A;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 700;
    margin-left: 2%;
    margin-top: 5%;
    border: none;
  }

  .hackertext {
    padding-top: 50px;
    text-align: left;
    margin-top: 50%;
    margin-left: 5%;
    font-size: 18px;
    font-family: Roboto;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    text-align: left;

  }

  .latinfooter {
    width: 439px;
    height: 83px;
    top: 3686px;
    left: 21px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;





  }

  .background-color {
    background-color: #011827;
    color: white;
    width: 100%;
    width: 480px;
    height: 566px;
    top: 3594px;
    gap: 0px;
    opacity: 0px;

  }



  .button-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


  }

  .sitemaptext {
    width: 72px;
    height: 21px;
    top: 3809px;
    left: 23px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    text-align: left;


    color: white;
    font-family: roboto bold;
    background-color: transparent;
    outline: none;
    border: none;
    margin-bottom: 10px;
    padding: 10px 20px;
    color: white;
    border: none;

    transform: translateY(-40%);
  }

  .list-button {
    width: 409px;
    height: 119px;
    top: 3837px;
    left: 22px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    margin-bottom: -15px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    transform: translateY(-90%);
  }

  .list-button2 {
    width: 409px;
    height: 119px;
    top: 3837px;
    left: 22px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    margin-bottom: -15px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    transform: translateY(-50%);
  }


  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .button-list1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
  }

  .followtext {
    width: 102px;
    height: 21px;
    top: 4003px;
    left: 23px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    text-align: left;
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 17px;
    color: white;
    border: none;
    transform: translateY(-40%);
  }

  .button-list2 {
    margin-bottom: -60px;
    padding: 30px 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    width: 200px;
    font-size: 15px;
    font-family: roboto;
    transform: translateY(-70%);
  }


}

@media only screen and (max-width: 700px) {
  .logoface1 {}
}